# Bus de Servicios (REST)
EXPO_PUBLIC_API_BASE_URL=https://busautoslinux-gccvajh2esguhpcw.eastus-01.azurewebsites.net/api/v2

# Gateway de eventos (GraphQL) — usar IP de tu PC, no localhost en dispositivo físico
# Android emulator hacia el host: 10.0.2.2
# iOS simulator: localhost suele funcionar
EXPO_PUBLIC_GRAPHQL_URL=http://192.168.1.100:5114/graphql
EXPO_PUBLIC_GRAPHQL_WS_URL=ws://192.168.1.100:5114/graphql
